body {
	font-family: Verdana, sans-serif;
	text-align: center;
	background: #000;
	color: #fff;
}

h1 {
	font-size: 50px;
}

.download {
	font-size: 16px;
	color: aquamarine; 
}

h2 {
	font-size: 42px;
	font-weight: 300;
}

main p {
	font-size: 21px;
	color: gray;
}

footer p {
	text-align: right;
	color: gray;
}